.file-downloader {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 35%) 0px 5px 15px;
}

.file-downloader .input, .file-downloader button, .file-downloader .selection-text{
  cursor: pointer;
}

.file-downloader .table-header-container {
  display: flex;
  flex-direction: row;
}

.file-downloader .table-header-item {
  flex: 0 1 auto;
  margin: 1em;
  min-width: 8.25em;
}

.file-downloader table {
  border-collapse: collapse;
  width: 100%;
}

.file-downloader thead tr {
  border-top: 0.1em solid #eee;
}

.file-downloader tr {
  border-bottom: 0.1em solid #eee;
}

.file-downloader td, .file-downloader th {
  padding: 0.5em;
}

.file-downloader th {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}

.file-downloader tbody tr:hover {
  background-color: #eee;
}

.file-downloader tbody tr.selected-row {
  background-color: #ccc;
}

.file-downloader th.status::before, .file-downloader td.status::before {
  content: "⬤";
  margin-right: 0.25em;
  color: #0000;
}

.file-downloader tbody td.available::before {
  content: "⬤";
  margin-right: 0.25em;
  color: limegreen;
}